# Don't commit the following directories created by pub.
**/.dart_tool/
**/.packages
**/.pub

**/pubspec.lock

# Files to avoid committing
**/BUILD
**/METADATA
**/OWNERS
**/README.google.md
**/copy.bara.sky
**/coverage

# Specific files
pkgs/intl/test/number_format_compact_google3_icu_test.dart
pkgs/intl/update_from_cldr_data.sh

.vscode

doc/
build/