name: Unicode Conformance Testing
on:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/conformance.yml'
      - 'pkgs/intl4x/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/conformance.yml'
      - 'pkgs/intl4x/**'
  schedule:
    - cron: '0 0 * * *' # daily
    
jobs:
    run_all:
      runs-on: ubuntu-latest
      steps:
        - uses: dart-lang/setup-dart@e630b99d28a3b71860378cafdc2a067c71107f94
          with:
            sdk: dev

        - uses: actions/checkout@7739b9ba2efcda9dde65ad1e3c2dbe65b41dfba7
                
        - uses: actions/checkout@7739b9ba2efcda9dde65ad1e3c2dbe65b41dfba7
          with:
            repository: unicode-org/conformance
            path: 'conformance'
        
        - run: mv pkgs/intl4x/test/tools/conformance_config.json conformance/conformance_config.json

        - run: (cd conformance; bash generateDataAndRun.sh conformance_config.json)

        - name: Download Reference Exec Summary
          if: github.ref != 'refs/heads/main'
          continue-on-error: true
          uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16
          with:
            name: reference_exec_summary

        - run: (cd pkgs/intl4x; dart pub get)
          if: github.ref != 'refs/heads/main'

        - run: dart run pkgs/intl4x/test/tools/conformance_parser.dart --current-path conformance/TEMP_DATA/testReports/exec_summary.json --reference-path reference_exec_summary >> $GITHUB_STEP_SUMMARY
          if: github.ref != 'refs/heads/main'

        - name: Upload Reference Summary iff on main branch
          if: github.ref == 'refs/heads/main'
          uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882
          with:
            name: reference_exec_summary
            path: conformance/TEMP_DATA/testReports/exec_summary.json
