name: package:messages
permissions: read-all

on:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/messages.yml'
      - 'pkgs/messages/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/messages.yml'
      - 'pkgs/messages/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/messages

    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9

      - uses: flutter-actions/setup-flutter@61f93c6f11e0234fa9ec4df59362c9699b979660
        with:
          channel: main

      - run: dart pub get

      - run: dart pub get
        working-directory: pkgs/messages/example

      - run: flutter pub get
        working-directory: pkgs/messages/examples_flutter/my_application

      - run: flutter pub get
        working-directory: pkgs/messages/examples_flutter/my_shopping_cart

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .

      - run: dart test

      - name: Run example
        working-directory: pkgs/messages/example
        run: |
          dart run messages
          git diff --exit-code
          dart run
